.page-base-outer-container {
    background: #e9e9ed;
}

.page-base-header-bg {
    width: 100%;
    height: 200px;
    background: #3e51b5;
    position: absolute;
}

/* http://stackoverflow.com/a/16837667/128028 */
.page-base-holder {
    min-height: 100vh;
}
