.social-items li {
    list-style-type: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.social-items li:last-child {
    margin-right: 0;
}

.social-items li a i {
    font-size: 4em;
}

.social-items li a i:hover {
    color: #E91E63;
}

/* https://material.google.com/style/color.html#color-color-palette */

.weather-card .panel {
    border-left: #ec4444;
    border-right: #ec4444;
    border-top: #ec4444;
}

.weather-card .panel-heading {
    background: #ec4444;
    color: #ffffff;
}

.weather-card .panel-body {
    color: #6a6a6a;
    text-align: right;
    font-size: 0.8em;
}

.weather-card ul li {
    color: #6a6a6a;
}

.weather-card ul li:nth-child(odd) {
    background: #ebebeb;
}

.weather-card ul li:nth-child(even) {
    background: #ffffff;
}
